streamlit
langchain
langgraph
langchain-chroma
langchain-openai
chromadb
sentence-transformers
pydantic
python-dotenv
apscheduler
fastmcp
pypdf2
python-docx
fastapi
uvicorn
langchain-google-genai
langchain-huggingface
pandas
